/* 여백 초기화 */
body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,tr,
textarea,button,form,figure,figcaption{margin:0;padding:0;outline: none;}

/* a 링크 초기화 */
a {color: #222; text-decoration: none;}


/* 폰트 초기화 */
body, input, textarea, select, button, table {font-family: 'Poppins','Nanum Gothic', 
AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; color: #222; 
font-size: 1.1rem; line-height: 1.5;}

/* 폰트 스타일 초기화 */
em,address {font-style: normal;}

/* 블릿기호 초기화 */
ul,li,ol {list-style: none;}

/* 제목 태그 초기화 */
h1,h2,h3,h4,h5,h6 {font-size: 1.2rem; font-weight: normal;}

/* 버튼 초기화 */
button {border:0; background-color: transparent; cursor: pointer;}

/* 반응형 이미지 */
img, video {width: 100%}

body {
    width: 100%;
    height: 100%;
    background-color: #0079bf;
    overflow-y: auto;
}
.show {
    display: inherit !important;
}
.right {
    float: right;
}